version: '3.8'

services:
  db:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - default

  api:
    build:
      context: ./api
      dockerfile: ../containers/api/Dockerfile
    container_name: api
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "${API_PORT}:3000"
    depends_on:
      - db
      - redis
    networks:
      - default

  app:
    build:
      context: ./app
      dockerfile: ../containers/app/Dockerfile
    container_name: app
    env_file:
      - .env
    environment:
      VITE_API_URL: http://api:3000
    ports:
      - "${VITE_APP_PORT}:3000"
    depends_on:
      - api
    networks:
      - default

  nginx:
    image: nginx:1.25-alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./containers/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
      - api
    networks:
      - default

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redisdata:/data
    networks:
      - default

volumes:
  pgdata:
  redisdata:

networks:
  default:
