version: '3.8'

services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: ./containers/api
    ports:
      - "${API_PORT}:3000"
    depends_on:
      - postgres

  app:
    build: ./containers/app
    ports:
      - "${APP_PORT}:3000"
    depends_on:
      - api

volumes:
  pgdata: