version: '3.8'

services:
  db:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - default

  api:
    build:
      context: ./api
      dockerfile: ../containers/api/Dockerfile
    container_name: api
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "${API_PORT}:3000"
    depends_on:
      - db
    networks:
      - default

  app:
    build:
      context: ./app
      dockerfile: ../containers/app/Dockerfile
    container_name: app
    env_file:
      - .env
    environment:
      VITE_API_URL: http://api:3000
    ports:
      - "${VITE_APP_PORT}:3000"
    depends_on:
      - api
    networks:
      - default

volumes:
  pgdata:

networks:
  default:
